@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Customize Swiper arrows */
.swiper-button-prev,
.swiper-button-next {
  color: #b3a398 !important; /* Change this to any color */
  transition: color 0.3s ease;
}

/* Optional: hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #d7e4c0 !important; /* example: Tailwind amber-500 */
}

/* Default bullet color */
.swiper-pagination-bullet {
  background-color: white !important; /* normal state */
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: #b3a398 !important; /* example: amber-500 */
  opacity: 1;
  transform: scale(1.3); /* optional: makes active bullet larger */
}

@font-face {
  font-family: 'MyCustomFont'; /* This is the name you will use in JS */
  src: url('/public/fonts/DancingScript-VariableFont_wght.ttf') format('ttf'),
       url('/public/fonts/DancingScript-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/fonts/DancingScript-Bold.ttf') format('ttf'),
       url('/public/fonts/DancingScript-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}